html,body {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    bottom:0;
    margin: auto;
    font-family: "Alef";
    background: #767E58;
    background-size: contain;
    background-image: url("../img/back1024.jpg");
    overflow-y: auto;
    overflow: auto;
  }
  .container {
    height: 100%;
    width: 900px;
    background-color: #000;
    /* overflow: auto; */
  }